.text {
    font-family: Arial;
    color: white;
    background-color: black;
    height: 30%;
}

header {
    background: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 7%
}

img {
    height: 20%;
    width: 20%;
    margin: 0%;
}

#dialog {
    padding: 7%;
    background: grey;
    margin: 5%;
}

footer {
    padding: 7%;
}
